.animate {
  animation: marquee 40s linear infinite;
  transform: translate(0, -50%);
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-reversed {
  animation: marquee-reversed 40s linear infinite;
  transform: translate(0, -100%);
}

@keyframes marquee-reversed {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
